--- 
title: "Publications"
layout: default
---
{% for pub in site.publications %}

<article class="publication">
  <div><strong>Title:</strong> {{ pub.title }}</div>
  <div><strong>DOI:</strong> {{ pub.doi }}</div>
  <div><strong>Status:</strong> {{ pub.status }}</div>
  <div><strong>Author:</strong> {{ pub.author }}</div>
  {% if pub.link %}
    <div>
      <a href="{{ pub.link }}"> <br /> <u>[get pdf]</u></a>
      {% if pub.bibtex %}<a href="{{ pub.bibtex }}"><u>[get bibtex]</u></a> {% endif %} 
    </div>
  {% endif %}
  <!--div>
    {{ pub.content }}
  </div-->
</article>

{% endfor %}
